body {
    background-color: aquamarine;
}
h1  {
    color: bisque;
}

th,td {
    border: 2px solid chartreuse;
    padding: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial,serif;
}